/* ABOUT PAGE */
#about-header {
    margin-left: 30px;
}

/* About us image overlay BC April 16 */ 
.flex-container {
    position: relative;
    width: 95%;
    margin: auto;
    display: flex;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 525px;
    max-width: 350px;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #BB3E03;
    /* needs same max size as the image */
    max-height: 525px;
    max-width: 350px;
}

.flex-child:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 1.7vw;
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 20px 10px 20px 10px;
    text-align: center;
    /* needs same max size as the image */
    max-height: 525px;
    max-width: 350px;
}

  .flex-child {
    position: relative;
    flex: 1;
    width: 100%;
}  
  
  