/* MORE INFO PAGE */ 
/*image styles April 19 AH*/
.image-right {
    float: right;
}
  
.image-left {
    float: left;
}
  
.image-centre { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
  
#water-quality-explained {
    height: 330;
    align-items: center;
    color: #005F73;
    margin: 20px 20px 20px 70px;
    line-height: 25px;
    clear:both;
}

#aerial-water-tree-img {
    height: 335px;
    margin-right: 70px;
    margin-left: 50px;
}
  
/*#map-points-img {
    height: 335px;
    margin-right: 70px;
    margin-left: 50px;
}*/
 
/*image styles April 19 AH*/
/*#Background {
height: 330px;
align-items: center;
color: #005F73;
margin: 20px 20px 20px 70px;
line-height: 25px;
}

#Homepage-img {
    height: auto;
    margin: 140px 70px 10px 50px;
}*/ 

/*19/04/2022 AH*/
/*.last-paragraph {
  color: #005F73;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  line-height: auto;
  max-width: 80%;
}*/

/*19/04/2022 AH*/
.to-the-left{
    font-size:35px;
    color: #9B2226;
    text-align:left;
    margin-top: 10px;
    margin-bottom:10px;
}

/*.para1 {
    color: #005F73;
    line-height: 25px;
    max-width:100%;
}*/

/*19/04/2022 AH*/
.para-margin { 
    color: #005F73;
    margin: auto;
    line-height: auto;
    max-width: 80%;
}

/*.para { 
    color: #005F73;
    line-height: 25px;
    max-width:100%;
    float:left;
}*/

/*19/04/2022 AH*/
.pretty-box {
    background-color: #005F73;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 25px;
    max-width: 100%;
    font-size: 20px;
    display: inline-block;
}

/*adjusted parameters AH 20/04/2022*/
.tech {
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#more-info-introduction {
    text-align: center;
}
