/* PROJECT PAGE */ 
/* StoryMap and Project Page SS - April 19*/
.story1 {
    max-width: 40%;
    float: right;
    margin-right: 20px;
    margin-top: 100px;
}

#stephs1 {
    width: 50%;
    float: left;
    margin-top: 5px; 
    padding: 35px 100px 10px 100px;
} 

#stephs2 {
    width: 50%; 
    float: right;
    margin-top: 5px; 
    padding: 75px 100px 10px 100px;
} 

.steph-pic { 
    width: 50%;
}

/*Solution Final Dashboard and StoryMap - Last updated April 19 BC */ 
.final-dashboard {
    max-width: 100%;
    height: auto;
}

.final-storymap {
    max-width: 100%;
    height: auto; 
}

/* div phase separator - KS - April 19*/
/*.div-separate {
    background-color: #E8F5F1;
    padding: 5px;
}*/

/*div styling projects page for clarity - KS April 19*/
.phase1 {
    background-color: #EBF2F3 ;
    padding: 0px 0px 30px 0px;
}

/*methodology - KS April 19*/
.methodology {
    max-width: 50%;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

/* table for problem statement KS & BC April 19*/
.t-heading {
    padding: 50px;
    font-weight: bold;
    font-size: 25px;
    color: #005F73;
}

.t-exp {
    color:#9B2226;
    font-weight: bold;
}

 /*Project Page - Main Settings KS (old bg colour #E8F5F1)*/ 
.pDash {
    max-width: 40%;
    float: right; 
    margin-top: 50px;
    margin-right: 10px;
    background-color: #def0ea;
    padding-right: 30px;
}
  
li {
    padding: 20px;
}
  
#paragraph1 {
    background-color: #cde9ea;
    padding-right: 50px;
    padding-bottom: 30px;
}

#paragraph2 h1 {
    padding-top: 40px;
}

#paragraph3 {
    background-color: #cde9ea;
    padding-bottom: 30px;
}

/* KS Journey (methodology) static paragraph april 17 */
/*.staticE {
    margin-left:100px;
    max-width:40%
}

.static1 {
   max-width:20%;
   padding:40px;
}*/

/* Project page margins - KS & SS*/
#project-page {
    margin: 25px 40px;
}

/* Slider - ks  */
.slider {
    /* margin:50px auto; */
    width: 50%;
    height: 550px;
}

.slider2 {
    width: 50%;
    margin-left: 350px;
}

.img-box img {
    width: 100%;
}

.btn {
    border: none;
    outline: none;
    background: #c6e6dc;
    padding: 10px 30px;
    font-size: 20px;
    color: #71140C;
    cursor: pointer;
    margin: 20px auto;
    margin-left: 160px;
}
  
.btn1 {
    border: none;
    outline: none;
    background: #c6e6dc;
    padding: 10px 30px;
    font-size: 20px;
    color: #71140C;
    cursor: pointer;
    margin: 20px auto;
    margin-left: 160px;
}
  
.btn:hover {
      background: #94D2BD;
}
  
.btn1:hover {
      background: #94D2BD;
}
  
.big-headings h1 {
    /* color: #001219; I took this out cause it kept overwriting my headings -ks */
    text-shadow: none;
    font-size: 40px;
}

img {
    padding: 5px;
}

/* Divider btw sections in "body" of Methodology */
.thin-divider {
    height: 4px;
    background-color: #deeaec;
}

p.project-page {
    padding-left: 45px;
    padding-right: 45px;
}